@font-face {
  font-weight: 900;
  font-family: '5ka Sans Design Black';
  src: url('../fonts/5ka Sans Design Black.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: '5ka Sans Design Black';
  src: url('../fonts/5ka Sans Design Regular.woff2') format('woff2');
}
